{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'society/styles.css' %}">
    <script src="{% static 'society/control.js' %}"></script>
    <script src="https://kit.fontawesome.com/8bb574b8c0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/jwd4eruiktd917w3cx8av8sv7x9x4fj35vb3al8chl6syj43/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- NAVBAR STARTS HERE -->
    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-1">
            <div class="container"><a href="{% url 'society:index' %}" class="navbar-brand mb-1 text-uppercase font-weight-bold">SIGMA</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>            
                <div id="navbarSupportedContent" class="collapse navbar-collapse d-flex justify-content-between">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mb-1 active"><a href="{% url 'society:index' %}" class="nav-link text-uppercase font-weight-bold">Home </a></li>
                        <li class="nav-item mb-1"><a href="{% url 'crescendo:index' %}" class="nav-link text-uppercase font-weight-bold">Crescendo</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'crew5678:index' %}" class="nav-link text-uppercase font-weight-bold">Crew 5678</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'nautanki:index' %}" class="nav-link text-uppercase font-weight-bold">Nautanki</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'photography:index' %}" class="nav-link text-uppercase font-weight-bold">Photography</a></li>
                        <li class="nav-item mb-1"><a href="{% url 'tlc:index' %}" class="nav-link text-uppercase font-weight-bold">TLC</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="btn-group">
                            <button type="button" class="nav-link btn mb-1 bg-transparent font-weight-bold text-uppercase"><img alt="Update Profile Pic" class="mb-1" src="{{ user.userofprofile.pic.url }}" style="height:26px; width:26px; border-radius:13px;"> {{ user.username }}</button>
                            <button type="button" class="btn btn-sm mb-1 bg-transparent dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'society:profile' user.id %}">Profile</a>
                                {% if user.is_superuser %}
                                <a href="/admin" class="dropdown-item">Admin Panel</a>                                
                                {% endif %}
                                <a href="{% url 'society:logout' %}" class="dropdown-item">Log Out</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'society:login' %}" class="nav-link mb-1 text-uppercase font-weight-bold d-flex justify-content-end">Log In</a></li>
                        <li class="nav-item"><a href="{% url 'society:register' %}" class="nav-link mb-1 text-uppercase font-weight-bold d-flex justify-content-end">Register</a></li>
                        {% endif %}                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- NAVBAR ENDS HERE -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    {% block body %}
    {% endblock body %}
</body>
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'textcolor save link image media preview codesample contextmenu table code lists fullscreen  insertdatetime  nonbreaking contextmenu directionality searchreplace wordcount visualblocks visualchars code fullscreen autolink lists  charmap print  hr anchor pagebreak',
      toolbar1:'fullscreen preview bold italic underline | fontselect, fontsizeselect  | forecolor backcolor | alignleft alignright | aligncenter alignjustify | indent outdent | bullist numlist table | link image media | codesample |',
      toolbar2:'visualblocks visualchars | charmap hr pagebreak nonbreaking anchor |  code',
      toolbar_mode: 'floating',
   });
  </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</html>